{% extends 'recipes/base.html' %}

{% block content %}
    <form class="form-inline mt-4" method="GET" action="{% url 'search-recipe' %}">
        <div class="row justify-content-center">
            <div class="col-4">
                <input type="text" class="form-control" name="q" placeholder="Search recipe">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>
    <div class="container">
    <h1 class="mt-3">All recipes</h1>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4 mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class = "card-img-top" src="https://fakeimg.pl/50x40/cccccc/cccccc" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <h6 class="card-subtitle mb-2">Categoria : {{recipe.category}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Autore: <span class="fst-italic">{{recipe.author}}</span></h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{recipe.created_at}}</h6>
                            <a href="{% url 'recipes-detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
         </div>
    </div>

{% endblock content %}