{% extends 'recipes/base.html' %}

{% block content %}
        <h1 class="card-title mt-4">{{object.title}}</h1>
        <h5 class="mt-2">Author: {{ object.author }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <h6 class="card-subtitle mb-2 text-muted">Created on {{object.created_at}}</h6>
        {% if object.author == user%}
        <div class="mt-4">
            <a class="btn btn-primary" href="{% url 'recipes-update' object.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'recipes-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
                {% if request.user in recipe.favorite.all %}
                    <form class="mt-3"action="{% url 'recipes-remove-favorite' recipe.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">remove from favorite</button>
                    </form>
                {% else %}
                    <form class="mt-3" action="{% url 'recipes-add-favorite' recipe.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">add to favorite</button>
                    </form>
                {% endif %}
            {% endif %}
{% endblock content %}