{% extends 'recipes/base.html' %}
{% block content %}
<h2>Results</h2>

<form class="form-inline" method="GET" action="{% url 'search-recipe' %}">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" name="q" placeholder="Search recipe">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
        <div class="col-2">
            <a href="{% url 'recipes-home' %}" class="btn btn-primary mb-2">Back to all Recipes</a>
        </div>
    </div>
</form>

{% for recipe in recipes %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">Author: {{ recipe.author }}</p>
            <p class="card-text"><small class="text-muted">Date: {{ recipe.created_at }}</small></p>
            <a href="{% url 'recipes-detail' recipe.id %}" class="btn btn-primary">View</a>
        </div>
    </div>
    <br>
{% empty %}
    <h5>no recipe available.</h5>
{% endfor %}
{% endblock content %}}
